*{
    font-family: Bradley Hand, cursive;
    letter-spacing: 5px;
}
body{
    margin: 0px 0px;
}


.hero-section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(110deg, brown, black);
    padding: 0% 5% 10% 5%;
}
.map-section {
    height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkorange;
}
.about-section {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
}


.burger{
    margin-left: -10%;
    width: clamp(250px, 50%, 1000px);
}
.social{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0px;
}
.hero-section-box{
    margin-right: -10%;
}


.hero-section-box>h1{
    padding-bottom: 50px;
}
.social>img{
    margin: 30px 50px;
    width: 8%;
}
.about-section>p{
    padding: 5% 5%;
    color: black;
}
.about-section>h1{
    color: rgb(55, 55, 55);
}


iframe{
    width: clamp(250px, 50%, 1000px);
}
h1{
    letter-spacing: 10px;
    font-size: 7em;
    font-weight: bold;
    color: white;
    margin: 0px;
}
h2{
    font-size: 7em;
    margin: 0% 0% 5% 0%;
}
p{
    margin: 0px;
    color: white;
    font-size: 3em;
}

/* mobile */

@media only screen and (max-width: 600px){
    .hero-section{
        display: flex;
        flex-direction: column;
    }
    .map-section{
        justify-content: center;
    }
    .about-section{
        height: auto;
        flex-direction: column;
    }
    iframe{

    }
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 3em;
    }
    p{
        font-size: 1em;
    }
}
